AutoBuild/Resources/BuildTaskConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TaskInfo" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:integer" name="Order" use="required"/>
                <xs:attribute type="xs:string" name="Name" use="required"/>
                <xs:attribute type="xs:string" name="Description" use="optional"/>
                <xs:attribute type="xs:string" name="Type" use="required"/>
                <xs:attribute type="xs:string" name="Path" use="optional"/>
                <xs:attribute type="xs:integer" name="OnSucess" use="required"/>
                <xs:attribute type="xs:integer" name="OnFailure" use="required"/>
                <xs:attribute type="xs:string" name="Dependents" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>